[submodule "whisper-asr-webservice"]
	path = whisper-asr-webservice
	url = https://github.com/nathankot/whisper-asr-webservice
[submodule "assist/SwagGen"]
	path = assist/vendor/SwagGen
	url = https://github.com/yonaskolb/SwagGen
