<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Receives audio from push-to-talk.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Transcribes audio before sending it to the request server.</string>
	<key>CFBundleURLTypes</key>
	<array/>
</dict>
</plist>
